<?xml version="1.0" encoding="utf-8"?>
<ConfigurationSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IntuitEntitlementServiceDiscoveryUdpPort>8039</IntuitEntitlementServiceDiscoveryUdpPort>
  <RemotingTimeoutInSeconds>40</RemotingTimeoutInSeconds>
  <IntuitEntitlementServiceTcpPort>8039</IntuitEntitlementServiceTcpPort>
  <IntuitEntitlementClientTcpPort>8040</IntuitEntitlementClientTcpPort>
</ConfigurationSettings>