<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="SingleCall" type="Intuit.Spc.Map.Features.EntitlementClient.Server.Core.EntitlementServer,Intuit.Spc.Map.EntitlementClient.Server.Core" objectUri="Primary" />
      </service>
      <channels>
        <channel ref="tcp server" port="8039">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="off" />
  </system.runtime.remoting>
</configuration>